// RESETEO

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

// VARIABLES

@import './utilidades/colores';

// IMPORTACIONES

@import './secciones/header_main';
@import './secciones/sidebars';
@import './secciones/body';
@import './secciones/footer';
@import './secciones/no_disponible.scss';