// RESETEO

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

// VARIABLES

@import './utilidades/colores';

// IMPORTACIONES

@import './secciones/header_main';
@import './secciones/header_main_sec';
@import './secciones/sidebars';
@import './secciones/seccion_unica';
@import './secciones/section1';
@import './secciones/section2';
@import './secciones/section3';
@import './secciones/section4';
@import './secciones/contact_form';
@import './secciones/footer';
@import './secciones/no_disponible.scss';