.grilla{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr 2.5fr 0.5fr 2fr 2fr 0.5fr;
    grid-template-areas:
    "header header header"
    "left section1 right"
    "left section2 right"
    "left section3 right"
    "left section4 right"
    "footer footer footer";
    .header{
        grid-area: header;
        background-image: linear-gradient($color1, $color4);
        .justTitulo{
            display:grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto;
            height: 60%;
            justify-content: space-around;
            align-items: center;
            .logo{
                @include estiloLogo();  
            }
            .titulo{
                @include estiloTitulo();
            }
            .subtitulo{
                @include estiloSubtitulo();
            }
        }.menu{
            display: flex;
            font-size: 30px;
            list-style-type: none;
            justify-content: center;
            margin-top: 35px;
            flex-wrap: wrap;
            #sinSub{
                text-decoration: none;
            }
            li a{
                display: inline-block;
                padding: 15px 30px;
                margin: 5px;
                text-decoration: none;
                color: $color5;  
            }
            li:hover{
                background-color: $color3;
            }
        }
        .flexHeader{
            display:flex;
            font-size: 20px;
            color: $color5;
            justify-content: space-between;
            .textHeaderLeft{
                font-size: 25px;
                margin-left: 120px;
                .formSize{
                    width: 300px;
                    height: 30px;
                    font-size: 15px;
                    text-align: center;}
                }
            .textHeaderRight{
                text-align: right;
                margin-right: 120px;
            }
        }
    }
}