// TABLET SIZE

@media (max-width: $tablet) {
    .header{
        .justTitulo{
            display:grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;
            justify-content: center;
            align-content: center;
        } 
    }
    .section1{
        .padreGrid1 {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto;
            justify-content: center;
            align-content: center;
            .imgNov{
                width: 30vw;
            }
        }
    }
    .sectionUnica{
        .gridOther {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto auto;
            justify-content: center;
            align-content: center;
            .imgGen{
                width: 30vw;
          }
        }
    }
    .centerFrame{
        .iframe{
        width: 30vw;
    }
        
    }
}
// MOBILE SIZE

@media (max-width: $mobile) {
    .header{
        .justTitulo{
            display:grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;
            justify-content: center;
            align-content: center;
        }
    }
    .section1{
        .padreGrid1 {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        justify-content: center;
        align-content: center;
        .imgNov{
            width: 70vw;
        }
    }
}
    .sectionUnica{
        .gridOther {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
            justify-content: center;
            align-content: center;
            .imgGen{
                width: 70vw;
            }
        }
    }
    .centerFrame{
        .iframe{
            width: 70vw;
        }
    }
}
