.section3{
    grid-area: section3;
    background-color: $color4;
    h2 {
        @include estiloH2();
    }
    .padreGrid2{
        display: grid;
        height: 80%;
        width: 100%;
        justify-items: center;
        align-items:center;
        .menuVendidos {
            display: flex;
            font-size: 20px;
            list-style-type: none;
            align-items: center;
            flex-direction:column;
            .imgVend{
                @include estiloImgVend();
            }
            .zoom:hover{
                transition: transform .6s; 
                transform: scale(1.1);
            }
        }
    }
}