.sectionUnica{
    grid-area: seccionunica;
    background-color: $color4;
    h1{
        padding: 30px;
        color: $color1;
        font-style: italic;
        text-align: center;
        font-size: 50px;
    }
    .gridOther{
        display:grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto;
        height: 80%;
        justify-content: space-around;
        align-content: center;
        .imgGen{
                margin: 7px;
                background-color:$color3;
                border: 2px solid $color6;
                padding: 3px;
        }
        .zoom:hover{
            transition: transform .6s; 
            transform: scale(1.1);
        }
    }
}
