.section1{
    grid-area: section1;
    background-color: $color4;
    h1{
        @include estiloH1();
    }
    .padreGrid1{
        display:grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        height: 80%;
        justify-content: space-around;
        align-content: center;
        .imgNov{
            @include estiloImgNov();
        }
        .zoom:hover{
            transition: transform .6s; 
            transform: scale(1.1);
        }
    }
}