.section4{
    grid-area: section4;
    background-color: $color4;
    h3 {
        padding: 20px;
        color: #344e41;
        font-style: bold;
        text-decoration-line: underline;
        text-align: center;
        font-size: 40px;}
        .centerFrame {
            padding:20px;
            text-align:center;
            .iframe {
                width: 800px;
                height: 500px;
            }
        }
}