.section4{
    grid-area: section4;
    background-color: $color4;
    h3 {
        @include estiloH3();}
    .centerFrame {
        padding:20px;
        text-align:center;
        .iframe {
            width: 800px;
            height: 500px;
        }
    }
}